@import "~bootstrap/scss/bootstrap";

@font-face{
  font-family: 'Roboto-Black';
  src : url('../font/Roboto-Black.ttf') format('truetype');
}

@font-face{
  font-family: 'Roboto-Regular';
  src : url('../font/Roboto-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Roboto-Slab';
  src : url('../font/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}


/* Couleurs */

$primary : #DC5E44;
$secondary : #131313;
$tertiary : #E4E6EC;
$last : #FFFFFF;

/* Body */

body{
  background-color: $tertiary;
}

/* Titre */

h1{
  color : $primary;
  font-size: 32px;
  font-family: 'Roboto-Black', sans-serif;
}

 /* Header */

.header{
  .flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 105px;
    p{
      margin-left: 20px;
      margin-bottom: 0;
      font-size: 35px;
      color: $primary;
      font-family: 'Roboto-Slab', sans-serif;
      font-weight: 800;
    }
  }
}

/* Footer */

.footer{
  background-color: $primary;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

/* allArticle */

.allArticle{
  margin-bottom: 300px;
  .cut {
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    max-width: 500px;
  }
  .size{
    width : 80px
}
  .noArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .merci {
      font-size: 32px;
      text-align: center;
      text-decoration: none;
      font-family: 'Roboto-Black', sans-serif;
    }
    img {
      border-radius: 33px;
      margin-top: 60px;
    }
  }
  td, th{
    vertical-align: middle;
  }
}

/* HomePage */

.homepage{
  .header{
    border-radius: 30px;
    &-top{
      position:relative;
      height: 415px;
    }
    &-image{
      position:absolute;
      z-index:1;
    }
    &-title{
      text-transform: uppercase;
      position:absolute;
      top:21%;
      left:20px;
      width:600px;
      z-index:2;
      font-size:56px;
      text-align: end;
      font-family: 'Roboto-Black', sans-serif;
    }
  }
  a{
    text-decoration: none;
  }
  .title{
    margin-top: 63px;
    margin-bottom: 63px;
    font-size: 48px;
  }
  .espace{
    color: $last
  }
  .card{
    width: 400px;
    height: 418px;
    border-radius: 30px;
    &-img-top{
      width: 400px;
      height: 250px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
    &-title{
      font-size: 32px;
      text-align: justify;
      padding: 5px;
      color: $primary;
      font-family: 'Roboto-Black', sans-serif;
    }
  }
  strong{
    color: $primary
  }
  .noArticle {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    p {
      color: #DC5E44;
      font-size: 35px;
      margin-top: 100px !important;
      font-family: 'Roboto-Black', sans-serif;
    }
    img{
      border-radius: 50%;
      margin-top: 80px;
      height: 50%;
      width: auto;
    }
  }
}

/* DetailPage */

.detail{
  &-header{
    height: 400px;
    display: block;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .resume{
    background-color: $last;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  h1{
    font-size: 32px;
    padding-top: 38px;
    padding-bottom: 20px;
    margin: 0;
  }
  p:nth-child(n+0):nth-child(-n+15){
    margin-left: 22px;
    margin-right: 22px;
    text-align: justify;
    margin-bottom: 22px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
  }
  .date{
    padding-bottom: 22px;
    font-style: italic;
  }
  .btn{
    border-radius: 33px;
    background-color: $primary;
    color: $last;
    font-size: 24px;
    font-family: 'Roboto-Black', sans-serif;
    margin-top:32px ;
    margin-bottom:32px;
    width: 133px;
    height: 66px;
    &:hover{
      background-color: $last;
      color: $primary;
    }
  }
}

/* Erreur, 404 et 403 */
.erreur {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  img {
    border-radius: 33px;
  }
}




























