{% extends 'base.html.twig' %}

{% block title %}Page inaccessible{% endblock %}

{% block body %}

    <div class="container erreur">

        <h1 class="text-center display-2 mt-5 mb-5">Page inaccessible !</h1>
        <div class="text-center">
            <h2 class="alert alert-danger">Vous n'avez pas le droit d'accéder à cette page ! Merci de cliquer <a
                        href="{{ path('all') }}">ici</a> </h2>
        </div>
        <img src="{{ asset('/Head/sonde.jpg') }}"  class="img-fluid mt-5 mb-5" alt="Mars Climate Orbiter">
    </div>

{% endblock %}